h1 {
  color: red;
}

body{
  display: flex;
}

.container {
  align-items: center;
  margin: auto;
}

.cards{
  /* height: 30vh; */
  display: flex;
}

.card-black {
  font-size: 38px;
  border: 2px solid black;
  border-radius: 10px;
  height: 175px;
  width: 125px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px;
}

.card-red {
  font-size: 38px;
  border: 2px solid black;
  color: red;
  border-radius: 10px;
  height: 175px;
  width: 125px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px black;
}

.flipped {
  content: "test";
  background-color: grey;
}

.hidden {
  display: none;
}
